/*
*	TOC	
*/
#toc {
	padding: 5px;
	font-size: 95%;
}
#toc ul {
	list-style-type: none;
	list-style-image: none;
	margin-left: 0;
	padding: 0;
}

/*
*	popup balloon fix for Semantic Maps
*/
.maps-map img {
	max-width: none;
}
.maps-map label {
	width: auto;
	display: inline;
}
 

/*
*	subpages (TODO: this should be in common/commonInterface.css)
*/
span.subpages {
	display: block;
	font-size: 12px;
}

/*
* horizontal lists
*/
ul.horizontal li {
	display: inline;
	list-style-type: none;
	padding-right: 5%;
}

/*
*	edit form
*/
form#editform {
	width: 100%;
}
form#editform textarea {
	width: 100%;
}

/*
*	footer
*/
.footer {
	font-size: 0.85em;
	margin-top: 45px;
	padding: 15px 0 15px;
	border-top: 1px solid #e5e5e5;
}
.footer p {
	margin-bottom: 0;
	color: #555;
}

/*
* icon paddings
*/
.icon-user {
	margin-right: 4px;
}
.caret {
 	margin-left: 4px;
}

/*
* pad headings
*/
h1, h2, h3, h4, h5, h6 {
	margin-bottom: 10px;
}

/*
* wiki red links
*/
a.new {
	color: red;
}

/** 
* no-collapse override
* source: https://gist.github.com/2046174
*/

            .navbar .pull-right .dropdown-menu:before {
                left: auto;
                right: 12px;
            }
            .navbar .pull-right .dropdown-menu:after {
                left: auto;
                right: 13px;
            }
            @media (max-width: 979px) {
                .navbar .dropdown-menu.no-collapse {
                    background-color: #ffffff;
                    border-color: rgba(0, 0, 0, 0.2);
                    border-radius: 4px;
                    border-style: solid;
                    border-width: 1px;
                    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
                    display: none;
                    float: left;
                    margin: 0;
                    padding: 4px 0;
                    position: absolute;
                    top: 100%;
                }
                .navbar .dropdown-menu.no-collapse:before,
                .navbar .dropdown-menu.no-collapse:after {
                    display: block;
                }
                .navbar .dropdown-menu.no-collapse li + li a {
                    margin-bottom: 0;
                }
                .navbar .dropdown-menu.no-collapse .divider {
                    display: list-item;
                }
                .navbar .dropdown-menu.no-collapse a {
                    border-radius: 0;
                    color: #333333;
                    font-weight: normal;
                    padding: 3px 15px;
                }
                .navbar .dropdown-menu.no-collapse a:hover,
                .navbar .dropdown-menu.no-collapse .active a,
                .navbar .dropdown-menu.no-collapse .active a:hover {
                    background-color: #0088cc;
                    color: #ffffff;
                }
